node_modules
.turbo
.turbo/
.next
dist
coverage
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
apps/*/.next
apps/*/.turbo
apps/*/dist
packages/*/dist
prisma/dev.db
*.log
*.tsbuildinfo
